body {
    margin: 0 0 0 0;
    background-image: url("../pictures/titlis-2994226_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body {
    background-image: url("../pictures/munich-1480745_1920.png");
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

input {
    margin: 0.1em;
}

.choices {
    border-radius: 25px;
    background-color: #f3f3f3;
    opacity: 90%;
    padding: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0.5em 0.5em 0 0.5em;
    width: 30%;
    float: left;
    flex-grow: 1;
}

.choices_start_page {
    border-radius: 25px;
    background-color: #f3f3f3;
    border: solid #a6a6a6;
    opacity: 90%;
    padding: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 5em;
    max-width: 30%;
    flex-grow: 1;
}

#summary {
    flex-grow: 1;
}

#line, #frontier, #area, #pie, #bar, #stock, #trading {
    margin: 0.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3;
    opacity: 90%;
    flex-grow: 1;
}

#trading {
    min-height: 40em;
}

#area {
    min-width: 50%;
}

#pie {
    min-width: 30%;
}

#bar {
    min-width: 50%;
}

.head {
    display: flex;
    background-color: #009879;
    border: solid #006e58;
}

.header{
    padding-left: 1em;
    color: #ffffff;
}
.link{
    margin-left: auto;
    align-self: center;
    padding-right: 1em;
}

button {
    margin: 1em 1em 1em 1em;
}

table {
    border: none;
    border-collapse: collapse;
    margin: 0.5em;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius:6px;
    border:solid black 1px;
    flex-grow: 1;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    text-align: left;
    border: none;
    padding: 10px 10px;
}

table tbody tr {
    border: none;
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}