<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>

<form action="/echo" method="post">
    <label for="name">Company Ticker:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="start">Start Date:</label>
    <input type="datetime-local" id="start" name="start">
    <label for="end">End Date:</label>
    <input type="datetime-local" id="end" name="end"><br><br>

    <label for="interval">Interval:</label>
    <select name="interval" id="interval">
        <option value="1mo">Month</option>
        <option value="1wk">Week</option>
        <option value="1d">Day</option>
        <option value="1h">Hour</option>
    </select><br><br>

    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}

    <img src="{{ image }}"/><br><br>

    <input type="submit" value="Submit"><br><br>

    {% for table in tables %}
        {{ titles[loop.index] }}
        {{ table|safe }}
    {% endfor %}
</form>

</body>
</html>