<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script> src = "https://cdn.jsdelivr.net/npm/chart.js"</script>
</head>
<body>
<h1>My First Heading</h1>
<div class="whole">
    <div class="left">
        <form action="/echo" method="post">
            <label for="name1">Company Ticker:</label>
            <input type="text" id="name1" name="name1"><br>
            <label for="name2">Company Ticker:</label>
            <input type="text" id="name2" name="name2"><br>
            <label for="name3">Company Ticker:</label>
            <input type="text" id="name3" name="name3"><br>
            <label for="name4">Company Ticker:</label>
            <input type="text" id="name4" name="name4"><br>
            <label for="name5">Company Ticker:</label>
            <input type="text" id="name5" name="name5"><br><br>
            <label for="start">Start Date:</label>
            <input type="datetime-local" id="start" name="start"><br>
            <label for="end">End Date:</label>
            <input type="datetime-local" id="end" name="end"><br><br>

            <label for="interval">Interval:</label>
            <select name="interval" id="interval">
                <option value="1mo">Month</option>
                <option value="1wk">Week</option>
                <option value="1d">Day</option>
                <option value="1h">Hour</option>
            </select><br><br>

            <input type="submit" value="Submit"><br><br>

            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
        </form>
        <div>

            <div>
                <canvas id="firstChart"></canvas>
            </div>
            <div>
                <canvas id="secondChart"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx = document.getElementById('firstChart').getContext("2d");

                var lineChartData = {
                    labels: {{ labels | safe }},
                    datasets: []
                };
                array = {{ values | safe }};
                names = {{ names | safe }};

                array.forEach(function (a, i) {
                    lineChartData.datasets.push({
                        label: names[i],
                        borderline: 1,
                        data: a
                    });
                });

                new Chart(ctx, {
                    type: 'line',
                    data: lineChartData
                });

                const ctx2 = document.getElementById('secondChart').getContext("2d");

                new Chart(ctx2, {
                    type: 'scatter',
                    data: {
                        datasets: [{
                            label: 'Volatility, Return',
                            data: {{ rand | safe }},
                            backgroundColor: {{ color | safe }},
                            showLine: false,
                        }]
                    }
                });
            </script>
        </div>
    </div>
    <div class="right">
        {% for table in tables %}
            {{ titles[loop.index] }}
            {{ table|safe }}
        {% endfor %}
    </div>
</div>

</body>
</html>