<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Portfolio</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <div class="head">
        <div class="header">
            <h1>Still under development</h1>
        </div>
        <div class="link">
            <a href="https://www.linkedin.com/in/jesse-ker%C3%A4nen-4737a8159/">LinkedIn</a>
        </div>
    </div>
</header>
<div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openView(event, ['pie', 'bar', 'area', 'frontier', 'summary'])">
        Portfolio
    </button>
    <button class="tablinks" onclick="openView(event, ['stock'])">Stock</button>
    <button class="tablinks" onclick="openView(event, ['news1', 'news2', 'trading'])">Trading view</button>
</div>
<div class="container">
    <div class="container2">
        <form class="choices" action="/echo" method="post">
            <label for="name1">Company Ticker:</label>
            <input data-toggle="tooltip" data-placement="top" title="Please insert Yahoo finance ticker" type="text" id="name1" placeholder="AAPL" name="name1"><br>
            <label for="name2">Company Ticker:</label>
            <input data-toggle="tooltip" data-placement="top" title="Please insert Yahoo finance ticker" type="text" id="name2" placeholder="MSFT" name="name2"><br>
            <label for="name3">Company Ticker:</label>
            <input data-toggle="tooltip" data-placement="top" title="Please insert Yahoo finance ticker" type="text" id="name3" placeholder="IBM" name="name3"><br>
            <label for="name4">Company Ticker:</label>
            <input data-toggle="tooltip" data-placement="top" title="Please insert Yahoo finance ticker" type="text" id="name4" placeholder="AMZN" name="name4"><br>
            <label for="name5">Company Ticker:</label>
            <input data-toggle="tooltip" data-placement="top" title="Please insert Yahoo finance ticker" type="text" id="name5" placeholder="NFLX" name="name5"><br><br>
            <label for="start">Start Date:</label>
            <input type="date" id="start" name="start"><br>
            <label for="end">End Date:</label>
            <input type="date" id="end" name="end"><br><br>
            <input type="hidden" name="page" value="index">

            <label for="interval">Interval:</label>
            <select name="interval" id="interval">
                <option value="1mo">Month</option>
                <option value="1wk">Week</option>
                <option value="1d">Day</option>
                <option value="1h">Hour</option>
            </select><br><br>

            <input type="submit" value="Submit"><br><br>
        </form>
        <div id="news1" class="tabcontent">
            <img class="picture"
                 src={{ thumbnail1|safe }}
                 width="100" alt="thumbnail">
            <div class="test">
                <b class="test2">{{ name|safe }}</b><br>
                <p class="test2">{{ title1|safe }}</p>
                <a href={{ link1|safe }}>{{ publisher1|safe }}</a>
            </div>
        </div>
        <div id="news2" class="tabcontent">
            <img class="picture"
                 src={{ thumbnail2|safe }}
                 width="100" alt="thumbnail">
            <div class="test">
                <b class="test2">{{ name|safe }}</b><br>
                <p class="test2">{{ title2|safe }}</p>
                <a href={{ link2|safe }}>{{ publisher2|safe }}</a>
            </div>
        </div>
    </div>
    <div id="summary" class="tabcontent">
        {% for table in tables2 %}
            {{ table|safe }}
        {% endfor %}
    </div>

    <div id="pie" class="tabcontent">
        <canvas id="pie-chart"></canvas>
    </div>
    <div id="bar" class="tabcontent">
        <canvas id="bar-chart"></canvas>
    </div>

    <div id="area" class="tabcontent">
        <canvas id="thirdChart"></canvas>
    </div>
    <div id="frontier" class="tabcontent">
        <canvas id="secondChart"></canvas>
    </div>

    <div id="stock" class="tabcontent"></div>

    <div id="trading" class="tabcontent"></div>

    {% for table in tables1 %}
        {{ table|safe }}
    {% endfor %}
</div>
<script>
    document.getElementById("defaultOpen").click();


    var ma5 = {{ ma5 | safe }}
    ma5.forEach((item, i) => { if (item == "nan") ma5[i] = null; });
    var macd =
    {{ macd | safe }}
    var macd_diff =
    {{ macd_diff | safe }}
    var signal_line =
    {{ signal_line | safe }}
    var ma20 =
    {{ ma20 | safe }}
    var volumes =
    {{ volume | safe }}
    var high =
    {{ high | safe }}
    var low =
    {{ low | safe }}
    var open =
    {{ open | safe }}
    var close =
    {{ close | safe }}
    var labels =
    {{ labels | safe }}
    var array = {{ values | safe }};
    var names = {{ names | safe }};
    var allocation = {{ allocations | safe }};
    var profits = {{ yearly_returns | safe }};
    var target_returns =
    {{ target_returns | safe }}
    var year_dates =
    {{ year_dates | safe }}

    var barChartData = Array();
    var barChartLabels = Array();
    var barChartColors = Array();
    var barChartBorderColors = Array();
    var volumeColors = Array();
    var macd_diffColors = Array();

    for (let i = 0; i < profits.length; i++) {
        barChartData[i] = profits[i];
        barChartLabels[i] = year_dates[i];
        barChartColors[i] = color(profits[i])[0];
        barChartBorderColors[i] = color(profits[i])[1];
    }

    for (let i = 0; i < volumes.length; i++) {
        if (open[i] < close[i]) {
            volumeColors[i] = 'rgba(27, 207, 36, 1)'
        } else {
            volumeColors[i] = 'rgba(200, 0, 0, 1)'
        }
    }

    for (let i = 0; i < macd_diff.length; i++) {
        if (macd_diff[i] > 0) {
            macd_diffColors[i] = 'rgba(27, 207, 36, 1)'
        } else {
            macd_diffColors[i] = 'rgba(200, 0, 0, 1)'
        }
    }

    const ctx5 = document.getElementById('bar-chart').getContext("2d");

    new Chart(ctx5, {
        type: "bar",
        data: {
            labels: barChartLabels,
            datasets: [{
                label: 'Portfolio yearly return',
                backgroundColor: barChartColors,
                borderColor: barChartBorderColors,
                borderWidth: 2,
                data: barChartData
            }]
        },
    });

    var lineChartData = [];

    array.forEach(function (a, i) {
        lineChartData[i] = {
            type: 'scatter',
            name: names[i],
            x: labels,
            y: a
        }
    });

    const ctx = document.getElementById('stock');
    var layout2 = {
        autosize: true,
        pan: true,
        title: 'Line chart of stock prices within portfolio',
        yaxis: {
            type: 'log',
            dtick: 1,
            autorange: true
        },
        xaxis: {
            autorange: true
        }
    }
    Plotly.newPlot(ctx, lineChartData, layout2, {responsive: true });

    const ctx2 = document.getElementById('secondChart').getContext("2d");

    new Chart(ctx2, {
        data: {
            datasets: [{
                label: 'Efficient frontier',
                type: 'scatter',
                data: {{ eff | safe }},
                backgroundColor: 'red',
                showLine: true,
                borderColor: 'rgba(200, 0, 0, 1)',
                pointRadius: 0
            }, {
                type: 'scatter',
                label: 'Volatility, Return',
                data: {{ rand | safe }},
                backgroundColor: {{ color | safe }},
                showLine: false
            }]
        },
        options: {
            scales: {
                y: {
                    title: {
                        display: true,
                        text: 'Exp. Return'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Standard deviation'
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Efficient frontier'
                },
            },
        }
    });

    const ctx3 = document.getElementById('thirdChart').getContext("2d");

    var lineChartData2 = {
        labels: target_returns,
        datasets: []
    };

    var weights = {{ weights | safe }};

    weights.forEach(function (a, i) {
        lineChartData2.datasets.push({
            label: names[i],
            borderline: 1,
            fill: true,
            data: a
        });
    });

    new Chart(ctx3, {
        type: 'line',
        data: lineChartData2,
        options: {
            scales: {
                y: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Cumul. Weigth'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Target Return'
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Weights for different target returns'
                },
            },
            elements: {
                point: {
                    radius: 0
                }
            }
        }
    });

    const ctx4 = document.getElementById('pie-chart').getContext("2d");

    new Chart(ctx4, {
        type: 'pie',
        data: {
            labels: names,
            datasets: [{
                label: "Weights",
                data: allocation
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Pie chart of weights in sharpe portfolio'
                }
            }
        }
    });

    const ctx6 = document.getElementById('trading')

    var trace1 = {
        x: labels,
        y: volumes,
        marker: {
            color: volumeColors
        },
        type: 'bar',
        name: "Volume",
    };

    var trace2 = {
        x: labels,
        close: close,
        high: high,
        low: low,
        open: open,
        type: 'candlestick',
        yaxis: 'y2',
        opacity: 0.9,
        name: "Return"
    };

    var trace3 = {
        x: labels,
        y: ma20,
        type: 'chatter',
        yaxis: 'y2',
        opacity: 0.7,
        line: {
            color: 'rgb(235, 225, 52)',
            width: 2
        },
        name: "MA 20"
    };

    var trace4 = {
        x: labels,
        y: ma5,
        type: 'chatter',
        yaxis: 'y2',
        opacity: 0.7,
        line: {
            color: 'rgb(52, 95, 235)',
            width: 2
        },
        name: "MA 5"
    };

    var trace5 = {
        x: labels,
        y: macd,
        type: 'chatter',
        yaxis: 'y3',
        opacity: 0.7,
        line: {
            color: 'rgb(5250, 126, 2)',
            width: 2
        },
        name: "MACD"
    };

    var trace6 = {
        x: labels,
        y: signal_line,
        type: 'chatter',
        yaxis: 'y3',
        opacity: 0.7,
        line: {
            color: 'rgb(10, 10, 10)',
            width: 2
        },
        name: "Signal line"
    };

    var trace7 = {
        x: labels,
        y: macd_diff,
        type: 'bar',
        yaxis: 'y3',
        opacity: 0.7,
        marker: {
            color: macd_diffColors
        },
        name: "macd diff"
    };

    var data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7];

    var layout3 = {
        autosize: true,
        responsive: true,
        grid: {
            rows: 3,
            columns: 1
        },
        xaxis: {
            rangeslider: {
                visible: false
            }
        },
        yaxis: {domain: [0.2, 0.3]},
        yaxis3: {domain: [0, 0.1]},
        yaxis2: {domain: [0.4, 1]}
    };
    Plotly.newPlot(ctx6, data, layout3, {responsive: true });

    function color(ret) {
        if (ret < 0) return ['rgba(200, 0, 0, 0.3)', 'rgba(200, 0, 0)']
        else return ['rgba(27, 207, 36, 0.3)', 'rgba(27, 207, 36)']
    }

    function openView(evt, viewName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        for (i = 0; i < viewName.length; i++) {
            document.getElementById(viewName[i]).style.display = "flex";
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        // document.getElementById(viewName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    var error = {{ error | safe }};

    if (error.length > 0) {
        window.onload = () => sayHello(error);
    }

    function sayHello(error) {
        var phrase = ""
        if (error.length > 1) {
            phrase = "Please review tickers. Could not find data for following tickers: "
        } else phrase = "Please review tickers. Could not find data for following ticker: "
        var tickers = error.join(" ")
        window.alert(phrase.concat(tickers))
    }
</script>
</body>
</html>